
const cfg = [];

//Discord config
cfg.discord = {
    token: 'Bot-Token',
    prefix: '!',
    admin: [
        'Admin-Id'
    ]
};

//General Options
cfg.options = {
    defaultVolume: 100 //Sets the default volume percent on join
};

cfg.api = {
    youtube: 'Youtube API Key'
}

cfg.lavalink = {
    node: {
        host: '127.0.0.1',
        port: 6060,
        password: 'AnyCustomPassword'
    },
    rest: {
        host: '127.0.0.1',
        port: 6060,
        password: 'AnyCustomPassword'
    }
};

module.exports = cfg;
